body{
    margin: 0;
}

header, footer{
    background-color: #1F2937;
    color: white;
}

.quote{
    background-color: #E5E7EB;
}

section, header{
    padding: 64px 128px;
}

ul, .navbar, .header-container, .cards, .cards-container, .quote-container, .cta-container, footer{
    display: flex;
}

a, .navbar, .header-container, .signup-btn, .cta-container{
    color: #F9FAF8;
}

ul{
    list-style-type: none;
    gap: 16px;
    margin: 0;
    padding: 0;
}

a{
    font-size: 18px;
    text-decoration: none;
}

.navbar{
    justify-content: space-between;
    padding: 8px 0;
    align-items: center;
    font-size: 24px;
}

.nav-logo img{
    height: 40px;
}
header{
    padding-top: 8px;
}
.header-container{
    padding-top: 32px;
    gap: 16px;
}

.hero-main{
    font-size: 48px;
    margin: 0;
}

.header-img{
    max-width: 400px;
}

.signup-btn{
    background-color: #3882F6;
    padding: 4px 24px;
    border-radius: 12px;
    border: none;
    margin: 8px 0;
}

.cards{
    text-align: center;
    flex-direction: column;
    padding-top:16px;
}

.cards-container{
    justify-content: center;
    gap: 32px;
}

.card img{
    height: 150px;
    width: 150px;
    border-radius: 12px;
    border: 2px solid #3882F6;
}

.quote-container{
    flex-direction: column;
    color: #1F2937;
    font-style: italic;
}

.quote-text{
    font-size: 36px;
    font-weight: 100;
}

.quote-author{
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
}
.cta{
    justify-content: center;
}
.cta-container{
    background-color: #3882F6;
    justify-content: space-between;
    border-radius: 6px;
    padding: 32px 64px;
}

.cta-container .signup-btn{
    border: 1px solid #F9FAF8;
}
.cta-box-header{
    font-size: 24px;
    font-weight: bold;
}

footer{
    justify-content: center;
    padding: 24px 128px;
}
